<Configuration>
  <Name>Alma Unmediated E-Lending Server Addon</Name>
  <Author>Robert Timothy Wilson, University of Minnesota</Author>
  <Version>2.0.6</Version>
  <Active>true</Active>
  <Type>Server</Type>
  <Files>
    <File>Main.lua</File>
    <File>JsonParser.lua</File>
  </Files>
  <Description>Checks Alma/Primo API to see if a requested item is licensed for ILL.</Description>
  <Settings>
    <Setting name="BaseUrl" value="https://api-na.hosted.exlibrisgroup.com" type="string">
      <Description>The base URL for Ex Libris APIs.</Description>
    </Setting>
    <Setting name="PrimoApiKey" value="" type="string">
      <Description>API Key for Primo Search.</Description>
    </Setting>
    <Setting name="AlmaApiKey" value="" type="string">
      <Description>API Key for Alma.</Description>
    </Setting>
    <Setting name="PrimoInst" value="01_INST" type="string">
      <Description>Institution Code (e.g. 01MYUNIVERSITY_INST).</Description>
    </Setting>
    <Setting name="PrimoVid" value="01_INST:ES" type="string">
      <Description>View ID.</Description>
    </Setting>
    <Setting name="PrimoTab" value="Everything" type="string">
      <Description>Search Tab.</Description>
    </Setting>
    <Setting name="PrimoScope" value="Campus" type="string">
      <Description>Search Scope.</Description>
    </Setting>
    <Setting name="SearchOptions" value="Title,OCLC,ISSN" type="string">
      <Description>Comma-separated list of search types: OCLC, ISSN, Title. If Article Request Type, Title uses ArticleTitle</Description>
    </Setting>
    <Setting name="ProcessQueue" value="Awaiting Lending Request Processing" type="string">
      <Description>Comma-separated list of queues to process.</Description>
    </Setting>
    <Setting name="AutoRoute" value="false" type="boolean">
      <Description>If true, transactions are moved to the queues below. If false, they are only annotated.</Description>
    </Setting>
    <Setting name="SuccessQueue" value="ILL Is Allowed" type="string">
      <Description>Where to move the transaction if the license IS permitted.</Description>
    </Setting>
    <Setting name="DenyQueue" value="ILL Is Denied" type="string">
      <Description>Where to move the transaction if the license IS NOT permitted.</Description>
    </Setting>
    <Setting name="NotFoundQueue" value="ILL Terms not Found" type="string">
      <Description>Where to move the transaction if no record is found in Primo.</Description>
    </Setting>
  </Settings>
</Configuration>